<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Background</h2>
                    <h3 class="section-subheading text-muted">What initiated this project?</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2020</h4>
                                    <h4 class="subheading">The Nail Art Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">My mom and I, we used to go out and have our own nail dates, but the pandemic hit and we had to stay in, so I started to order basic supplies to practice and then take care of my mom's nails every 3 weeks.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4> 2021</h4>
                                    <h4 class="subheading">A Business was Born</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">When I got back to school as a sophomore, I started my nails career while still taking 17 credits (do not recommend). Starting from my close friends, my customers circle widen to 3-4 nail sets per week.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2022</h4>
                                    <h4 class="subheading">Common Problem Repeats</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The more sets of nails I did, the more I realize it takes a lot of time to come up with designs, and it's even harder for my customers to visualize the nail designs in their mind. So the idea of an app to visualize designs were thought of.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2023</h4>
                                    <h4 class="subheading">Creating Solution</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After giving this idea a lot of thoughts, I decided to take action. Hence, this website was created, designs are being created, and an app will be created not for just me but for other nail techs out there having the same problem as well!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of My
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>