<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Purpose</h2>
                    <h3 class="section-subheading text-muted">Why does it matter?</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-clock-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Save Time</h4>
                    <p class="text-muted">Having your nails done take a lot of time, and it's even worse if you don't even like the results. Let NailARt save some time for you.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-credit-card-alt fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Save Money</h4>
                    <p class="text-muted">Looking at a $100 set of nails you don't like is torture. Let NailARt save you a lot of money.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-smile-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Satisfaction (finally)</h4>
                    <p class="text-muted">What's better than seeing the nail ideas you've been thinking of in your head on your hand before spending $100 on them? NailARt.</p>
                </div>
            </div>
        </div>
    </section>