<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Meet me!</h3>
                </div>
            </div>
            <div class="row">
<!--                {% for member in site.people %}-->
                <div class="col-lg-12 text-center">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpeg" class="img-responsive img-circle img-small" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
<!--                {% endfor %}-->
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">I'm Chloe and I do nails for fun now (used to be professionally).
	                    As I spend so much time doing and designing nails, it's very often to hate the vision that
	                    I have for a set of nails after it's done. Similarly, my friends and customers felt the same way
	                    after they have their set done because so many things could go wrong (same shape different length
	                    look differently on different hands, just to start with). I needed a solution to be more
	                    sustainable to pursue my love for nail art, and here it is, nailARt.</p>
                </div>
            </div>
        </div>
    </section>